#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Duo
Exec=/usr/bin/chromium --profile-directory=Default --app-id=imgohncinckhbblnlmaedahepnnpmdma
Icon=chrome-imgohncinckhbblnlmaedahepnnpmdma-Default
StartupWMClass=crx_imgohncinckhbblnlmaedahepnnpmdma
